@font-face {
    font-family: 'Raleway';
    src: url('./font/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./font/Raleway-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

body *{
    font-family: 'Raleway', Arial, sans-serif;
}

body h1, body h2, body h3, body h4, body h5, body h6{
    font-weight: bold;
}

.fa-star{
    color : #0065fc;
}

.star-grey{
    color : #d9d9d9;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #0065fc;
}

.flex{
    display: flex;
}

#corps{
    padding: 17px 50px 50px;
}

@media (max-width : 991px){
    #corps{
        padding: 0;
    }
}


/* BLOC NAV */
nav {
    padding: 0 50px;
    font-size: 12px;
}

nav > div{
    display: flex;
    align-items: center;
    height: 114px;
}

nav > div:first-child{
    flex-grow : 15;
}

nav > div:first-child img{
    height: 36px;
}

nav > div:nth-child(2){
    order : 3;
    font-weight: bold;
    padding: 0 25px;
}

nav > div:nth-child(2) a{
    color : #0065fc
}

nav > div:last-child > a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 25px;
}

nav > div:last-child > a:hover{
    box-shadow: 0 2px 0 #0065fc inset;
}

@media (max-width: 991px){
    nav {
        padding: 0 20px;
    }
}

@media (max-width: 767px){
    nav {
        flex-wrap: wrap;
        padding: 0 0 36px;
    }
    nav > div{
        width : auto;
    }

    nav > div:first-child{
        margin-left: 20px;
    }

    nav > div:nth-child(2){
        order : 2;
        font-weight: bold;
        padding: 0;
        justify-content: flex-end;
        margin-right: 20px;
    }

    nav > div:last-child{
        height: 34px;
        order : 3;
        width: 100%;
    }

    nav > div:last-child > a{
        width: 50%;
        justify-content: center;
        box-shadow: 0 -2px 0 #f2f2f2 inset;
    }

    nav > div:last-child > a:hover{
        box-shadow: 0 -2px 0 #0065fc inset;
    }
}


/* BLOC INTRO */

#intro > div:first-child h1{
    font-size: 16px;
    margin: 0;
}

#intro > div:first-child p{
    font-size: 12px;
    margin: 16px 0 24px;
}

@media (max-width: 991px){
    #intro {
        padding: 0 20px;
    }
}


#search{
    margin-bottom: 24px;
    max-width: 314.8px;
}

#search form{
    height: 48px;
    border-radius: 15px;
    border: 1px solid #f2f2f2;
}

#search form > div:first-child{
    height: 50px;
    border-radius: 15px 0 0 15px;
    padding: 0 17px 0 17px;
    background-color: #f2f2f2;
}

#search form > div:first-child label{
    align-self: center;
}

#search form > div:nth-child(2) input{
    height: 100%;
    border: none;
    padding: 0 10px;
    font-weight: bold;
    font-size: 13px;
}

#search form > div:last-child button{
    position: relative;
    top: -1px;
    height: 50px;
    padding-right: 17px;
    padding-left: 17px;
    color: white;
    background-color: #0065fc;
    border: none;
    border-radius: 0 15px 15px 0;
    font-weight: bold;
    font-size: 13px;
}

#search form > div:last-child button i{
    display: none;
}

@media (max-width : 767px){
    #search{
        max-width: 269.8px;
    }

    #search form > div:last-child button{
        border-radius: 15px;
    }

    #search form > div:last-child button span{
        display: none;
    }

    #search form > div:last-child button i{
        display: block;
    }

}


#filtres{
    flex-wrap: wrap;
    margin-left: 10px;
}

#filtres > div:first-child{
    font-weight: bold;
    align-self: center;
    margin-right: 32px;
    font-size: 13px;
}

#filtres > div:last-child{
    flex-wrap: wrap;
}

.filtre a{
    height: 46px;
    border: solid 2px #d9d9d9;
    border-radius: 25px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 24px;
    transition: 0.5s;
    
}

.filtre a:hover{
    background-color: #0065fc;
    color: white;
}

.filtre a > div:first-child{
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    min-width: 50px;
    height: 50px;
    position: relative;
    right: 2px;
    bottom: 2px;
    display: flex;
}

.filtre a > div:first-child i{
    align-self: center;
    margin: auto;
    font-size: 18px;
}

.filtre a > div:last-child{
    align-self: center;
    font-weight: bold;
    margin: 0 22px 0 13px;
    font-size: 13px;
}

@media (max-width : 991px){
    #filtres{
        margin: 0;
    }
}


#info {
    display: flex;
    height: 24px;
    margin: 28px 0 37px 10px;
}

#info > div:first-child{
    border: #d9d9d9 solid 1px;
    width: 22px;
    text-align: center;
    border-radius: 15px;
    color: #0065fc;
    font-size: 12px;
    margin-right: 12px;
}

#info i{
    position: relative;
    top: calc(50% - 7px);
}

#info > div:last-child{
    align-self: center;
}


/* BLOC HÉBERGEMENTS/ACTIVITÉS */

#hebergements_populaires{
    padding: 0 0 65px;
}

#hebergements_populaires > .flex{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#hebergements, #populaires{
    background-color: #f2f2f2;
    border-radius: 15px;
}

@media (max-width: 991px) {
    #hebergements_populaires > .flex{
        flex-direction: column-reverse;
    }
}


/* BLOC HÉBERGEMENTS */

#hebergements{
    width : 66%;
    display: flex;
    flex-direction: column;
}

#hebergements > div:nth-child(2), #hebergements > div:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

#hebergements > div:last-child{
    font-size: 13px;
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 50px;
}

#hebergements > *{
    margin-left: 40px;
    margin-right: 40px;
}

#hebergements h2{
    margin-top: 47px;
    margin-bottom: 28px;
    font-size: 16px;
}

.hebergement{
    background-color: white;
    border-radius: 15px;
    width: 30%;
    box-shadow: 0 3px 10px rgb(224, 221, 221);
}

.hebergement_img{
    background-position: center;
    background-size: cover;
    height: 114px;
    border-radius: 15px 15px 0 0;
    margin: 5px 5px 0 5px;
}

.hebergement_corps{
    padding: 12px 17px 17px 17px;
}

.hebergement_title{
    font-size: 12px;
    margin: 0;
}

.hebergement_txt{
    font-size: 10px;
    margin: 12px 0;
}

.hebergement_stars{
    font-size: 12px;
}

#hebergements > div:nth-child(2) > .hebergement:nth-child(1) .hebergement_img{
    background-image: url("./imgs/hebergements/2_large/hebergement1.jpg");
}

#hebergements > div:nth-child(2) > .hebergement:nth-child(2) .hebergement_img{
    background-image: url("./imgs/hebergements/2_large/hebergement2.jpg");
}

#hebergements > div:nth-child(2) > .hebergement:nth-child(3) .hebergement_img{
    background-image: url("./imgs/hebergements/2_large/hebergement3.jpg");
}

#hebergements > div:nth-child(3) > .hebergement:nth-child(1) .hebergement_img{
    background-image: url("./imgs/hebergements/2_large/hebergement4.jpg");
}

#hebergements > div:nth-child(3) > .hebergement:nth-child(2) .hebergement_img{
    background-image: url("./imgs/hebergements/2_large/hebergement5.jpg");
}

#hebergements > div:nth-child(3) > .hebergement:nth-child(3) .hebergement_img{
    background-image: url("./imgs/hebergements/2_large/hebergement6.jpg");
}

@media (max-width: 991px){

    #hebergements{
        background-color: white;
        width: auto;
        margin: 41px 22px 0;
    }

    #hebergements > *{
        margin-left: 0;
        margin-right: 0;
    }

    #hebergements h2{
        margin-top: 0;
    }

    .hebergement{
        width: 100%;
        margin-bottom: 20px;
    }

    .hebergement_img{
        height: 200px;
    }

    #hebergements > div:nth-child(2), #hebergements > div:nth-child(3){
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    #hebergements > div:nth-child(2) > .hebergement:nth-child(1) .hebergement_img{
        background-image: url("./imgs/hebergements/3_medium/hebergement1.jpg");
    }
    
    #hebergements > div:nth-child(2) > .hebergement:nth-child(2) .hebergement_img{
        background-image: url("./imgs/hebergements/3_medium/hebergement2.jpg");
    }
    
    #hebergements > div:nth-child(2) > .hebergement:nth-child(3) .hebergement_img{
        background-image: url("./imgs/hebergements/3_medium/hebergement3.jpg");
    }
    
    #hebergements > div:nth-child(3) > .hebergement:nth-child(1) .hebergement_img{
        background-image: url("./imgs/hebergements/3_medium/hebergement4.jpg");
    }
    
    #hebergements > div:nth-child(3) > .hebergement:nth-child(2) .hebergement_img{
        background-image: url("./imgs/hebergements/3_medium/hebergement5.jpg");
    }
    
    #hebergements > div:nth-child(3) > .hebergement:nth-child(3) .hebergement_img{
        background-image: url("./imgs/hebergements/3_medium/hebergement6.jpg");
    }
}

@media (max-width : 767px){
    .hebergement_img{
        height: 114px;
    }
}

@media (max-width: 576px){
    #hebergements > div:nth-child(2) > .hebergement:nth-child(1) .hebergement_img{
        background-image: url("./imgs/hebergements/4_small/hebergement1.jpg");
    }
    
    #hebergements > div:nth-child(2) > .hebergement:nth-child(2) .hebergement_img{
        background-image: url("./imgs/hebergements/4_small/hebergement2.jpg");
    }
    
    #hebergements > div:nth-child(2) > .hebergement:nth-child(3) .hebergement_img{
        background-image: url("./imgs/hebergements/4_small/hebergement3.jpg");
    }
    
    #hebergements > div:nth-child(3) > .hebergement:nth-child(1) .hebergement_img{
        background-image: url("./imgs/hebergements/4_small/hebergement4.jpg");
    }
    
    #hebergements > div:nth-child(3) > .hebergement:nth-child(2) .hebergement_img{
        background-image: url("./imgs/hebergements/4_small/hebergement5.jpg");
    }
    
    #hebergements > div:nth-child(3) > .hebergement:nth-child(3) .hebergement_img{
        background-image: url("./imgs/hebergements/4_small/hebergement6.jpg");
    }
}


/* BLOC POPULAIRE */

#populaires{
    width : 30%;
}

#populaires h2{
    font-size: 16px;
    margin: 0;
}

#populaires > div:first-child{
    display: flex;
    justify-content: space-between;
    margin: 47px 39px 31px 37px;
}

#populaires > div:first-child i{
    font-size: 20px;
}

#populaires .populaire{
    display: block;
    margin: 0 39px 33px 37px;
}

#populaires .populaire > div{
    display: flex;
    background-color: white;
    box-shadow: 0px 3px 5px rgb(224, 221, 221);
    border-radius: 15px;
    padding: 5px;
}

.populaire_img{
    width: 50%;
    height: 134px;
    border-radius: 15px 0 0 15px;
}

.populaire_corps{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 9px 10px 4px 15px;
}

.populaire_title{
    margin: 0 0 14px 0;
    font-size: 12px;
}

.populaire_txt{
    font-size: 10px;
}

.populaire_stars{
    font-size: 11px;
}

#populaires > .populaire:nth-child(2) .populaire_img{
    background-image: url("./imgs/populaire/2_large/populaire1.jpg");
    background-position: center;
    background-size: cover;
}

#populaires > .populaire:nth-child(3) .populaire_img{
    background-image: url("./imgs/populaire/2_large/populaire2.jpg");
    background-position: center;
    background-size: cover;
}

#populaires > .populaire:nth-child(4) .populaire_img{
    background-image: url("./imgs/populaire/2_large/populaire3.jpg");
    background-position: center;
    background-size: cover;
}

@media (max-width : 991px){
    #populaires{
        width: 100%;
    }

    #populaires > div:first-child{
        margin: 43px 20px 31px;
    }

    #populaires .populaire{
        margin: 0 20px 33px;
    }

    #populaires .populaire > div{
        flex-direction: column;
    }

    .populaire_img{
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0 0 ;
    }

    .populaire_corps{
        margin: 15px 10px 10px;
        width: auto;
    }

    #populaires > .populaire:nth-child(2) .populaire_img{
        background-image: url("./imgs/populaire/3_medium/populaire1.jpg");
        background-position: center;
        background-size: cover;
    }
    
    #populaires > .populaire:nth-child(3) .populaire_img{
        background-image: url("./imgs/populaire/3_medium/populaire2.jpg");
        background-position: center;
        background-size: cover;
    }
    
    #populaires > .populaire:nth-child(4) .populaire_img{
        background-image: url("./imgs/populaire/3_medium/populaire3.jpg");
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 767px) {
    #populaires .populaire > div{
        flex-direction: row;
    }

    .populaire_img{
        width: 127px;
        min-width: 127px;
        height: 134px;
        border-radius: 15px  0 0 15px;
    }

    #populaires > .populaire:nth-child(2) .populaire_img{
        background-image: url("./imgs/populaire/4_small/populaire1.jpg");
        background-position: center;
        background-size: cover;
    }
    
    #populaires > .populaire:nth-child(3) .populaire_img{
        background-image: url("./imgs/populaire/4_small/populaire2.jpg");
        background-position: center;
        background-size: cover;
    }
    
    #populaires > .populaire:nth-child(4) .populaire_img{
        background-image: url("./imgs/populaire/4_small/populaire3.jpg");
        background-position: center;
        background-size: cover;
    }
}


/* BLOC ACTIVITÉ */

#activites h2{
    font-size: 16px;
    margin-bottom: 30px;
}

#activites .activite_img{
    border-radius: 15px 15px 0 0;
}

#activites .activite_txt{
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 3px 5px rgb(224, 221, 221);
}

#activites .flex{
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    justify-content: space-between;
    padding: 0;
}

#activites .flex > div {
    width : 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activites .flex > div:nth-child(1) .activite_img {
    background-image: url("./imgs/activites/2_large/activite1.jpg");
    background-position: center;
    background-size: cover;
    height: 390px;
}

#activites .flex > div:nth-child(2) > .activite:nth-child(1) .activite_img {
    background-image: url("./imgs/activites/2_large/activite2.jpg");
    background-position: center;
    background-size: cover;
    height: 180px;
}

#activites .flex > div:nth-child(2) > .activite:nth-child(2) .activite_img {
    background-image: url("./imgs/activites/2_large/activite3.jpg");
    background-size: cover;
    height: 110px;
}

#activites .flex > div:nth-child(3) .activite_img {
    background-image: url("./imgs/activites/2_large/activite4.jpg");
    background-position: center;
    background-size: cover;
    height: 390px;
}

#activites .flex > div:nth-child(4) > .activite:nth-child(1) .activite_img {
    background-image: url("./imgs/activites/2_large/activite5.jpg");
    background-position: center;
    background-size: cover;
    height: 140px;
}

#activites .flex > div:nth-child(4) > .activite:nth-child(2) .activite_img {
    background-image: url("./imgs/activites/2_large/activite6.jpg");
    background-position: center;
    background-size: cover;
    height: 153px;
}

@media (max-width: 991px) {
    #activites{
        padding-top: 0;
        margin: 12px 20px 50px;
    }

    #activites h2{
        margin-top: 0;
    }

    #activites .flex {
        justify-content: space-between;
    }

    #activites .flex > div {
        width : 47%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #activites .flex > div:nth-child(1), #activites .flex > div:nth-child(2) {
        margin-bottom: 25px;
    }

    #activites .flex > div:nth-child(1) .activite_img {
        background-image: url("./imgs/activites/3_medium/activite1.jpg");
        background-position: center;
        background-size: cover;
        height: 390px;
    }
    
    #activites .flex > div:nth-child(2) > .activite:nth-child(1) .activite_img {
        background-image: url("./imgs/activites/3_medium/activite2.jpg");
        background-position: center;
        background-size: cover;
        height: 180px;
    }
    
    #activites .flex > div:nth-child(2) > .activite:nth-child(2) .activite_img {
        background-image: url("./imgs/activites/3_medium/activite3.jpg");
        background-size: cover;
        height: 110px;
    }
    
    #activites .flex > div:nth-child(3) .activite_img {
        background-image: url("./imgs/activites/3_medium/activite4.jpg");
        background-position: center;
        background-size: cover;
        height: 390px;
    }
    
    #activites .flex > div:nth-child(4) > .activite:nth-child(1) .activite_img {
        background-image: url("./imgs/activites/3_medium/activite5.jpg");
        background-position: center;
        background-size: cover;
        height: 140px;
    }
    
    #activites .flex > div:nth-child(4) > .activite:nth-child(2) .activite_img {
        background-image: url("./imgs/activites/3_medium/activite6.jpg");
        background-position: center;
        background-size: cover;
        height: 153px;
    }
}

@media (max-width: 576px) {
    #activites .flex > div {
        width: 100%;
        margin-bottom: 25px;
    }

    #activites .flex > div:last-child {
        width: 100%;
        margin-bottom: 0;
    }

    #activites a.activite {
        display: block;
        margin-bottom: 25px;
    }

    #activites .flex > div > .activite:last-child{
        margin-bottom: 0;
    }

    #activites .flex > div:nth-child(1) .activite_img {
        background-image: url("./imgs/activites/4_small/activite1.jpg");
        background-position: center;
        background-size: cover;
        height: 134px;
    }
    
    #activites .flex > div:nth-child(2) > .activite:nth-child(1) .activite_img {
        background-image: url("./imgs/activites/4_small/activite2.jpg");
        background-position: center;
        background-size: cover;
        height: 134px;
    }
    
    #activites .flex > div:nth-child(2) > .activite:nth-child(2) .activite_img {
        background-image: url("./imgs/activites/4_small/activite3.jpg");
        background-size: cover;
        height: 134px;
    }
    
    #activites .flex > div:nth-child(3) .activite_img {
        background-image: url("./imgs/activites/4_small/activite4.jpg");
        background-position: center;
        background-size: cover;
        height: 134px;
    }
    
    #activites .flex > div:nth-child(4) > .activite:nth-child(1) .activite_img {
        background-image: url("./imgs/activites/4_small/activite5.jpg");
        background-position: center;
        background-size: cover;
        height: 134px;
    }
    
    #activites .flex > div:nth-child(4) > .activite:nth-child(2) .activite_img {
        background-image: url("./imgs/activites/4_small/activite6.jpg");
        background-position: center;
        background-size: cover;
        height: 134px;
    }
}


/* BLOC FOOTER */
footer{
    width : 100%;
    background-color: #f2f2f2;
}

footer h1{
    font-size: 13px;
    margin-bottom: 8px;
}

footer a{
    font-size: 12px;
    margin-top: 2px;
} 

#footer_container {
    padding: 50px;
    justify-content : space-between
}

#footer_container > div{
    width: 33%;
}

@media (max-width: 767px) {
    #footer_container{
        padding: 50px 30px;
        flex-direction : column
    }

    #footer_container > div{
        width: 100%;
    }

    #footer_container > div:nth-child(1) {
        padding: 0 0 20px 0;
    }
    
    #footer_container > div:nth-child(2) {
        padding: 20px 0;
    }
    
    #footer_container > div:nth-child(3) {
        padding: 20px 0 0 0;
    }
}