@font-face {
    font-family: 'Raleway';
    src: url('./font/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('./font/Raleway-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body{
    margin: 0;
}

body *{
    font-family: 'Raleway', Arial, sans-serif;
}

body h1, body h2, body h3, body h4, body h5, body h6{
    font-weight: bold;
}

.fa-star{
    color : #0065fc;
}

.star-grey{
    color : #d9d9d9;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
}

.flex{
    display: flex;
}

#corps{
    padding: 50px;
}

@media (max-width : 991px){
    #corps{
        padding: 0;
    }
}

/* BLOC INTRO */

#info {
    display: flex;
    height: 24px;
}


#info > div:first-child{
    border: #d9d9d9 solid 1px;
    width: 22px;
    text-align: center;
    border-radius: 15px;
    color: #0065fc;
    font-size: 12px;
}





/* BLOC HÉBERGEMENTS/ACTIVITÉS */

#herbergements_populaires > .flex{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#hebergements, #populaires{
    background-color: #f2f2f2;
    border-radius: 15px;
}

@media (max-width: 991px) {
    #herbergements_populaires > .flex{
        flex-direction: column-reverse;
    }
}


/* BLOC HÉBERGEMENTS */

#hebergements{
    width : 66%;
    display: flex;
    flex-direction: column;
}

#hebergements > div:nth-child(2), #hebergements > div:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

#hebergements > div:last-child{
    font-size: 13px;
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 50px;
}

#hebergements > *{
    margin-left: 40px;
    margin-right: 40px;
}

#hebergements h2{
    margin-top: 47px;
    margin-bottom: 28px;
    font-size: 16px;
}

.hebergement{
    background-color: white;
    border-radius: 15px;
    width: 30%;
    box-shadow: 0 3px 10px rgb(224, 221, 221);
}

.hebergement_img{
    background-position: center;
    background-size: cover;
    height: 114px;
    border-radius: 15px 15px 0 0;
    margin: 5px 5px 0 5px;
}

.hebergement_corps{
    padding: 12px 17px 17px 17px;
}

.hebergement_title{
    font-size: 12px;
    margin: 0;
}

.hebergement_txt{
    font-size: 10px;
    margin: 12px 0;
}

.hebergement_stars{
    font-size: 12px;
}

#hebergements > div:nth-child(2) > .hebergement:nth-child(1) .hebergement_img{
    background-image: url("./imgs/hebergements/2_large/hebergement1.jpg");
}

#hebergements > div:nth-child(2) > .hebergement:nth-child(2) .hebergement_img{
    background-image: url("./imgs/hebergements/2_large/hebergement2.jpg");
}

#hebergements > div:nth-child(2) > .hebergement:nth-child(3) .hebergement_img{
    background-image: url("./imgs/hebergements/2_large/hebergement3.jpg");
}

#hebergements > div:nth-child(3) > .hebergement:nth-child(1) .hebergement_img{
    background-image: url("./imgs/hebergements/2_large/hebergement4.jpg");
}

#hebergements > div:nth-child(3) > .hebergement:nth-child(2) .hebergement_img{
    background-image: url("./imgs/hebergements/2_large/hebergement5.jpg");
}

#hebergements > div:nth-child(3) > .hebergement:nth-child(3) .hebergement_img{
    background-image: url("./imgs/hebergements/2_large/hebergement6.jpg");
}

@media (max-width: 991px){

    #hebergements{
        background-color: white;
        width: auto;
        margin: 41px 22px 0;
    }

    #hebergements > *{
        margin-left: 0;
        margin-right: 0;
    }

    #hebergements h2{
        margin-top: 0;
    }

    .hebergement{
        width: 100%;
        margin-bottom: 20px;
    }

    .hebergement_img{
        height: 200px;
    }

    #hebergements > div:nth-child(2), #hebergements > div:nth-child(3){
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    #hebergements > div:nth-child(2) > .hebergement:nth-child(1) .hebergement_img{
        background-image: url("./imgs/hebergements/3_medium/hebergement1.jpg");
    }
    
    #hebergements > div:nth-child(2) > .hebergement:nth-child(2) .hebergement_img{
        background-image: url("./imgs/hebergements/3_medium/hebergement2.jpg");
    }
    
    #hebergements > div:nth-child(2) > .hebergement:nth-child(3) .hebergement_img{
        background-image: url("./imgs/hebergements/3_medium/hebergement3.jpg");
    }
    
    #hebergements > div:nth-child(3) > .hebergement:nth-child(1) .hebergement_img{
        background-image: url("./imgs/hebergements/3_medium/hebergement4.jpg");
    }
    
    #hebergements > div:nth-child(3) > .hebergement:nth-child(2) .hebergement_img{
        background-image: url("./imgs/hebergements/3_medium/hebergement5.jpg");
    }
    
    #hebergements > div:nth-child(3) > .hebergement:nth-child(3) .hebergement_img{
        background-image: url("./imgs/hebergements/3_medium/hebergement6.jpg");
    }
}

@media (max-width: 576px){
    #hebergements > div:nth-child(2) > .hebergement:nth-child(1) .hebergement_img{
        background-image: url("./imgs/hebergements/4_small/hebergement1.jpg");
    }
    
    #hebergements > div:nth-child(2) > .hebergement:nth-child(2) .hebergement_img{
        background-image: url("./imgs/hebergements/4_small/hebergement2.jpg");
    }
    
    #hebergements > div:nth-child(2) > .hebergement:nth-child(3) .hebergement_img{
        background-image: url("./imgs/hebergements/4_small/hebergement3.jpg");
    }
    
    #hebergements > div:nth-child(3) > .hebergement:nth-child(1) .hebergement_img{
        background-image: url("./imgs/hebergements/4_small/hebergement4.jpg");
    }
    
    #hebergements > div:nth-child(3) > .hebergement:nth-child(2) .hebergement_img{
        background-image: url("./imgs/hebergements/4_small/hebergement5.jpg");
    }
    
    #hebergements > div:nth-child(3) > .hebergement:nth-child(3) .hebergement_img{
        background-image: url("./imgs/hebergements/4_small/hebergement6.jpg");
    }
}


/* BLOC POPULAIRE */

#populaires{
    width : 30%;
}

#populaires h2{
    font-size: 16px;
    margin: 0;
}

#populaires > div:first-child{
    display: flex;
    justify-content: space-between;
    margin: 47px 39px 31px 37px;
}

#populaires > div:first-child i{
    font-size: 20px;
}

#populaires a > div{
    margin: 0 39px 33px 37px;
    display: flex;
    background-color: white;
    border-radius: 15px;
}


.populaire_img{
    width: 127px;
    height: 134px;
    border-radius: 15px 0 0 15px;
    margin: 5px;
}

.populaire_corps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 14px 0 9px 21px;
}

.populaire_title{
    margin: 0 0 14px 0;
    font-size: 12px;
}

.populaire_txt{
    font-size: 10px;
}

.populaire_stars{
    font-size: 11px;
}


#populaires > .populaire:nth-child(2) .populaire_img{
    background-image: url("./imgs/populaire/2_large/populaire1.jpg");
    background-position: center;
    background-size: cover;
}

#populaires > .populaire:nth-child(3) .populaire_img{
    background-image: url("./imgs/populaire/2_large/populaire2.jpg");
    background-position: center;
    background-size: cover;
}

#populaires > .populaire:nth-child(4) .populaire_img{
    background-image: url("./imgs/populaire/2_large/populaire3.jpg");
    background-position: center;
    background-size: cover;
}

@media (max-width : 991px){
    #populaires{
        width: 100%;
    }

    #populaires > div:first-child{
        margin: 43px 20px 31px;
    }

    #populaires a > div{
        margin: 0 20px 33px;
    }

    .populaire_img{
        width: 127px;
        height: 134px;
    }

    .populaire_corps{
        display: block;
        margin: 15px 5px;
    }

    #populaires > .populaire:nth-child(2) .populaire_img{
        background-image: url("./imgs/populaire/3_medium/populaire1.jpg");
        background-position: center;
        background-size: cover;
    }
    
    #populaires > .populaire:nth-child(3) .populaire_img{
        background-image: url("./imgs/populaire/3_medium/populaire2.jpg");
        background-position: center;
        background-size: cover;
    }
    
    #populaires > .populaire:nth-child(4) .populaire_img{
        background-image: url("./imgs/populaire/3_medium/populaire3.jpg");
        background-position: center;
        background-size: cover;
    }
}


@media (max-width: 768px) {
    #populaires > .populaire:nth-child(2) .populaire_img{
        background-image: url("./imgs/populaire/4_small/populaire1.jpg");
        background-position: center;
        background-size: cover;
    }
    
    #populaires > .populaire:nth-child(3) .populaire_img{
        background-image: url("./imgs/populaire/4_small/populaire2.jpg");
        background-position: center;
        background-size: cover;
    }
    
    #populaires > .populaire:nth-child(4) .populaire_img{
        background-image: url("./imgs/populaire/4_small/populaire3.jpg");
        background-position: center;
        background-size: cover;
    }
}



/* BLOC ACTIVITÉ */

#activites{
    padding: 65px 0 0;
}

#activites h2{
    font-size: 16px;
    margin-bottom: 30px;
}

#activites .activite_img{
    border-radius: 15px 15px 0 0;
}

#activites .activite_txt{
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 3px 5px rgb(224, 221, 221);
}

#activites .flex{
    display: flex;
    flex-wrap: wrap;
    max-width: none;
    justify-content: space-between;
    padding: 0;
}

#activites .flex > div {
    width : 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activites .flex > div:nth-child(1) .activite_img {
    background-image: url("./imgs/activites/2_large/activite1.jpg");
    background-position: center;
    background-size: cover;
    height: 390px;
}

#activites .flex > div:nth-child(2) > .activite:nth-child(1) .activite_img {
    background-image: url("./imgs/activites/2_large/activite2.jpg");
    background-position: center;
    background-size: cover;
    height: 180px;
}

#activites .flex > div:nth-child(2) > .activite:nth-child(2) .activite_img {
    background-image: url("./imgs/activites/2_large/activite3.jpg");
    background-size: cover;
    height: 110px;
}

#activites .flex > div:nth-child(3) .activite_img {
    background-image: url("./imgs/activites/2_large/activite4.jpg");
    background-position: center;
    background-size: cover;
    height: 390px;
}

#activites .flex > div:nth-child(4) > .activite:nth-child(1) .activite_img {
    background-image: url("./imgs/activites/2_large/activite5.jpg");
    background-position: center;
    background-size: cover;
    height: 140px;
}

#activites .flex > div:nth-child(4) > .activite:nth-child(2) .activite_img {
    background-image: url("./imgs/activites/2_large/activite6.jpg");
    background-position: center;
    background-size: cover;
    height: 153px;
}

@media (max-width: 991px) {
    #activites{
        padding-top: 0;
        margin: 12px 20px 50px;
    }

    #activites h2{
        margin-top: 0;
    }

    #activites .flex {
        justify-content: space-between;
    }

    #activites .flex > div {
        width : 47%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #activites .flex > div:nth-child(1), #activites .flex > div:nth-child(2) {
        margin-bottom: 25px;
    }

    #activites .flex > div:nth-child(1) .activite_img {
        background-image: url("./imgs/activites/3_medium/activite1.jpg");
        background-position: center;
        background-size: cover;
        height: 390px;
    }
    
    #activites .flex > div:nth-child(2) > .activite:nth-child(1) .activite_img {
        background-image: url("./imgs/activites/3_medium/activite2.jpg");
        background-position: center;
        background-size: cover;
        height: 180px;
    }
    
    #activites .flex > div:nth-child(2) > .activite:nth-child(2) .activite_img {
        background-image: url("./imgs/activites/3_medium/activite3.jpg");
        background-size: cover;
        height: 110px;
    }
    
    #activites .flex > div:nth-child(3) .activite_img {
        background-image: url("./imgs/activites/3_medium/activite4.jpg");
        background-position: center;
        background-size: cover;
        height: 390px;
    }
    
    #activites .flex > div:nth-child(4) > .activite:nth-child(1) .activite_img {
        background-image: url("./imgs/activites/3_medium/activite5.jpg");
        background-position: center;
        background-size: cover;
        height: 140px;
    }
    
    #activites .flex > div:nth-child(4) > .activite:nth-child(2) .activite_img {
        background-image: url("./imgs/activites/3_medium/activite6.jpg");
        background-position: center;
        background-size: cover;
        height: 153px;
    }
}


@media (max-width: 576px) {
    #activites .flex > div {
        width: 100%;
        margin-bottom: 25px;
    }

    #activites .flex > div:last-child {
        width: 100%;
        margin-bottom: 0;
    }

    #activites a.activite {
        display: block;
        margin-bottom: 25px;
    }

    #activites .flex > div > .activite:last-child{
        margin-bottom: 0;
    }

    #activites .flex > div:nth-child(1) .activite_img {
        background-image: url("./imgs/activites/4_small/activite1.jpg");
        background-position: center;
        background-size: cover;
        height: 134px;
    }
    
    #activites .flex > div:nth-child(2) > .activite:nth-child(1) .activite_img {
        background-image: url("./imgs/activites/4_small/activite2.jpg");
        background-position: center;
        background-size: cover;
        height: 134px;
    }
    
    #activites .flex > div:nth-child(2) > .activite:nth-child(2) .activite_img {
        background-image: url("./imgs/activites/4_small/activite3.jpg");
        background-size: cover;
        height: 134px;
    }
    
    #activites .flex > div:nth-child(3) .activite_img {
        background-image: url("./imgs/activites/4_small/activite4.jpg");
        background-position: center;
        background-size: cover;
        height: 134px;
    }
    
    #activites .flex > div:nth-child(4) > .activite:nth-child(1) .activite_img {
        background-image: url("./imgs/activites/4_small/activite5.jpg");
        background-position: center;
        background-size: cover;
        height: 134px;
    }
    
    #activites .flex > div:nth-child(4) > .activite:nth-child(2) .activite_img {
        background-image: url("./imgs/activites/4_small/activite6.jpg");
        background-position: center;
        background-size: cover;
        height: 134px;
    }
}

/* BLOC FOOTER */
footer{
    width : 100%;
    background-color: #f2f2f2;
}

footer h1{
    font-size: 13px;
    margin-bottom: 8px;
}

footer a{
    font-size: 12px;
    margin-top: 2px;
} 

#footer_container {
    padding: 50px;
    justify-content : space-between
}

#footer_container > div{
    width: 33%;
}

@media (max-width: 768px) {
    #footer_container{
        padding: 50px 30px;
        flex-direction : column
    }

    #footer_container > div{
        width: 100%;
    }

    #footer_container > div:nth-child(1) {
        padding: 0 0 20px 0;
    }
    
    #footer_container > div:nth-child(2) {
        padding: 20px 0;
    }
    
    #footer_container > div:nth-child(3) {
        padding: 20px 0 0 0;
    }
}